<ng-container *ngIf="lastQuestion$ | async">
  <h2>Останнє запитання</h2>
  <ul>
    <li>
      <a [routerLink]="['/', 'question', (lastQuestion$ | async)?.id]">
        {{ (lastQuestion$ | async)?.title | emptyText }}
      </a>
    </li>
  </ul>
  <hr />
</ng-container>

<ng-container *ngIf="(wrongAnswerQuestions$ | async)?.length">
  <h2>Запитання для повторення</h2>
  <ul>
    <li *ngFor="let question of wrongAnswerQuestions$ | async">
      <a [routerLink]="['/question', question.id, true]">
        {{ question.title | emptyText }}
      </a>
    </li>
  </ul>
  <hr />
</ng-container>

<h2>Усі запитання</h2>
<ul>
  <li *ngFor="let question of questions$ | async">
    <a [routerLink]="['/question', question.id]">
      {{ question.title | emptyText }}
    </a>
  </li>
</ul>
