<ngb-accordion>
  <ng-container *ngIf="lastQuestion$ | async">
    <ngb-panel title="Останнє запитання">
      <ng-template ngbPanelContent>
        <ul>
          <li>
            <a
              [routerLink]="[
                '/',
                'question',
                (lastQuestion$ | async)?.id,
                QuestionsSourceTypes.Default
              ]"
            >
              {{ (lastQuestion$ | async)?.title | emptyText }}
            </a>
          </li>
        </ul>
      </ng-template>
    </ngb-panel>
  </ng-container>

  <ng-container *ngIf="(wrongAnswerQuestions$ | async)?.length">
    <ngb-panel title="Запитання для повторення">
      <ng-template ngbPanelContent>
        <ul>
          <li *ngFor="let question of wrongAnswerQuestions$ | async">
            <a
              [routerLink]="[
                '/question',
                question.id,
                QuestionsSourceTypes.Wrong
              ]"
            >
              {{ question.title | emptyText }}
            </a>
          </li>
        </ul>
      </ng-template>
    </ngb-panel>
  </ng-container>

  <ngb-panel title="Усі запитання">
    <ng-template ngbPanelContent>
      <ul>
        <li *ngFor="let question of questions$ | async">
          <a
            [routerLink]="[
              '/question',
              question.id,
              QuestionsSourceTypes.Default
            ]"
          >
            {{ question.title | emptyText }}
          </a>
        </li>
      </ul>
    </ng-template>
  </ngb-panel>

  <ngb-panel title="Запитання у випадковому порядку">
    <ng-template ngbPanelContent>
      <ul>
        <li *ngFor="let question of randomQuestions$ | async">
          <a
            [routerLink]="[
              '/question',
              question.id,
              QuestionsSourceTypes.Random
            ]"
          >
            {{ question.title | emptyText }}
          </a>
        </li>
      </ul>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
