<div class="row">
  <div class="col-12">
    {{ (question$ | async)?.title | emptyText }}

    <hr />

    <ng-container *ngIf="(question$ | async)?.imgUrl || '' | questionImageUrl">
      <img
        [src]="(question$ | async)?.imgUrl || '' | questionImageUrl"
        class="img-fluid mx-auto d-block"
      />

      <hr />
    </ng-container>

    <ol class="answers">
      <li *ngFor="let answer of (question$ | async)?.answers">
        <button
          type="button"
          class="btn"
          [class.btn-light]="
            (rightAnswerId$ | async) !== answer.id &&
            (wrongAnswerId$ | async) !== answer.id
          "
          [class.btn-success]="(rightAnswerId$ | async) === answer.id"
          [class.btn-danger]="(wrongAnswerId$ | async) === answer.id"
          [disabled]="selectedAnswerId$ | async"
          (click)="checkAnswer(answer.id)"
        >
          {{ answer.text | emptyText }}
        </button>
      </li>
    </ol>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-12 text-center">
    <button type="button" class="btn btn-primary" (click)="saveAsWrong()">
      Зберегти для повторення
    </button>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-6">
    <a
      *ngIf="(prevNextQuestions$ | async)?.prev"
      [routerLink]="[
        '/',
        'question',
        (prevNextQuestions$ | async)?.prev?.id,
        route.snapshot.params['wrongAnswerQuestions'] || ''
      ]"
      >{{ (prevNextQuestions$ | async)?.prev?.title | emptyText }}</a
    >
  </div>

  <div class="col-6">
    <a
      *ngIf="(prevNextQuestions$ | async)?.next"
      [routerLink]="[
        '/',
        'question',
        (prevNextQuestions$ | async)?.next?.id,
        route.snapshot.params['wrongAnswerQuestions'] || ''
      ]"
      >{{ (prevNextQuestions$ | async)?.next?.title | emptyText }}</a
    >
  </div>
</div>
